<header>
  <img
    src="assets/images/profile.jpeg"
    alt="profile picture"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Fernando Bismaia Mocrosky</h1>
</header>

<aside>
  <div class="container">
    <p>
      FullStack | Go | Javascript | Laravel | HTMX | PhP | NodeJs | Angular |
      Springboot | Docker | Next.Js | Node.Js | REST
    </p>
    <p>Ponta Grossa, Paraná</p>
    <p>Descrição tosca</p>
  </div>

  <nav>
    <ul>
      <li>
        <a
          class="btn btn-primary"
          href="assets/pdf/CV_Foto.pdf"
          target="_blank"
        >
          Download CV
        </a>
      </li>
      <li>
        <a
          class="btn btn-primary"
          href="assets/pdf/CV_Foto_en.pdf"
          target="_blank"
        >
          Download CV (en)
        </a>
      </li>
      <li>
        <a
          class="btn btn-secondary"
          href="https://www.linkedin.com/in/fernandomocrosky/"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a
          class="btn btn-black"
          href="https://github.com/fernandomocrosky"
          target="_blank"
        >
          Github
        </a>
      </li>
    </ul>
  </nav>
  <section>
    <figure>
      <i class="fa-brands fa-whatsapp fa-2x"></i>
      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=5542999550895&text=Olá%20Fernando,%20preciso%20de%20um%20job!"
          target="_blank"
        >
          <strong> Envie uma mensagem para</strong>
          <p>Whatsapp (42) 99955-0895</p>
        </a>
      </figcaption>
    </figure>

    <figure>
      <i class="fa-regular fa-envelope fa-2x"></i>
      <figcaption>
        <a href="mailto:fernandobismaia@gmail.com" target="_blank">
          <strong> Envie um E-mail para</strong>
          <p>Email fernandobismaia&#46;gmail.com</p>
        </a>
      </figcaption>
    </figure>
  </section>
</aside>
